# cellpose==3.1.1.3 pulls in numpy==2.0.2 on macOS, which does not build on Python 3.13.
harpy-analysis[extra,napari] @ git+https://github.com/saeyslab/harpy.git@main # make sure to be on harpy-analysis >= 0.4.1
harpy_vitessce @ git+https://github.com/vibspatial/harpy_vitessce.git@main
napari-harpy>=0.0.6
instanseg-torch @ "git+https://github.com/instanseg/instanseg.git@main"
spatialdata==0.7.2
zarr>=3.2.1   
squidpy
cellpose==3.1.1.3
bioio
bioio-ome-tiff
tifffile[zarr]>=2026.5.15
jupyter
mofax
mofapy2
bokeh
